

	   
		<section id="contacto">
			<div class="contenidocontacto">

				<h2>¡Saluda! Es gratis ;)</h2> 

				<h3>Aquí estamos</h3>
					
					<p>Colombia</p>
					<span>San Fernando Plaza, Torre Protección,</span><br/>
					<span>Carrera 43 A # 1-50, piso 4, oficina 4018,</span><br/> 
					<span>Medellín.(+57) 4 448 08 04.</span><br/> 
					<span>info@likeu.co</span><br/>

	 			<br/>

	 				<p>México</p>
					<span>Piso 1, Presidente Masaryk 111, 11560</span><br/> 
					<span>Ciudad de México, D.F., </span><br/> 
					<span>México (+52) 55 44 45 35 10.</span><br/>
					<span>info@likeu.mx</span><br/>
			
					<img alt="Call Center Innovador" src="https://static.wixstatic.com/media/41d000_b1d2c7077041bbc146920b3370c54457.png/v1/fill/w_554,h_488,al_c,usm_0.66_1.00_0.01/41d000_b1d2c7077041bbc146920b3370c54457.png" style="width: 554px; height: 489px; object-fit: contain;" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.1.1.$SITE_PAGES.$c24vq.1.$WPht8.0.0.$image">

	
               
            </div>
		</section>

	