si estas en ubuntu y  tienes problemas para autorizar el uso de la camara usa este panel <a href="http://www.macromedia.com/support/documentation/en/flashplayer/help/settings_manager06.html">aqui</a>

<div id="booth">
	
	<video id="video" width="400" height="300"></video>
	<a href="#" id="capturar" class="boton-captura btn btn-dark"> capturar </a>
	<canvas id="canvas" width="400" height="300"></canvas>
	
</div>




<input type="file" accept="image/*;capture=camera">



