si estas en ubuntu y  tienes problemas para autorizar el uso de la camara usa este panel <a href="http://www.macromedia.com/support/documentation/en/flashplayer/help/settings_manager06.html">aqui</a>

<div id="webcam"></div>


<input type="file" accept="image/*;capture=camera">



