<script src="https://cdn.webrtc-experiment.com/RecordRTC.js"></script>
    <script src="https://cdn.webrtc-experiment.com/gif-recorder.js"></script>
    <script src="https://cdn.webrtc-experiment.com/getScreenId.js"></script>

    <!-- for Edige/FF/Chrome/Opera/etc. getUserMedia support -->
    <script src="https://cdn.webrtc-experiment.com/gumadapter.js"></script>


        <section class="experiment recordrtc">
        	<div class="container">
		        <div class="row">
		            <div class="col-lg-10 col-lg-offset-1 text-center">
		            <p>antes de iniciar la prueba aseguremonos que tu equipo funciona bien, comprueba que puedes verte en el recuadro de abajo, y que la barra lateral se mueve cuando hablas</p>
			            <div id="booth">
		
							
							<a href="#" id="capturar" class="boton-captura btn btn-dark"> capturar </a>
						
							
						</div>
					
			            <h4 class="header">
				            <select class="recording-media"> 
				            </select>
				            into
				            <select class="media-container-format">
				                <option>WebM</option>
				                <option>Gif</option>
				            </select>
				            
				            <button class="boton-captura btn btn-dark">Start Recording</button>
			            </h4>
			            
			            <div style="text-align: center; display: none;">
			                <button id="save-to-disk">Save To Disk</button>
			                <button id="open-new-tab">Open New Tab</button>
			                <button id="upload-to-server">Upload To Server</button>
			                
			            </div>
			            <br>
			            <video controls muted></video>
			        </div>
			        <div>
			        	   <div id='players'>
						      <video class='recorder' autoplay loop muted></video>
						      <audio class="recorder" autoplay loop muted></audio>
						    </div>
						    <!-- Control buttons -->
						    <button id='record_button'>Start recording</button>
						    <button id='play_button'>Play</button>
						    <button id='upload_button'>Upload</button>
			        </div>
		        </div>
	        </div>
        </section>








