<div id="faq" class="">
    <div class="tab-pane active in fade" id="faq-cat-1">
        <div class="panel-group" id="accordion-cat-1">
            <div class="panel panel-default panel-faq">
                <div class="panel-heading">
                    <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-1">
                        <h4 class="panel-title">
                            Establece tu propio horario
                            <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                        </h4>
                    </a>
                </div>
                <div id="faq-cat-1-sub-1" class="panel-collapse collapse horarios">
                    <div id="horarios" class="panel-body">
                        <ul>
                            <li>
                                <strong>
                                    ¿Puedo elegir que días quiero trabajar?
                                </strong>
                                <br>
                                Si, Escoges el horario más conveniente para ti y la cantidad de horas que deseas trabajar con nosotros.
                            </li>
                            <li>
                                <strong>
                                    ¿Cuál es el tiempo mínimo para trabajar? 
                                </strong>
                                <br>
                                Te recomendamos que, al menos, trabajes 4 horas durante 5 días a la semana, pero todo dependerá de cuanto quieras ganar
                            </li>
                            <li>
                                <strong>
                                   ¿Desde donde puedo trabajar?
                                </strong>
                                <br>
                                Desde cualquier lugar, siempre que cumplas con algunos requisitos mínimos: internet estable, un computador y una diadema (o manos libres), siempre y cuando no sea en movimiento (no te imaginamos trabajando en el bus).
                            </li>
                            <li>
                                <strong>
                                    ¿En mi casa hay mascotas y/o bebés, ¿aún así puedo trabajar?
                                </strong>
                                <br>
                                A nosotros también nos encantan los niños y las mascotas, pero sabemos que eres muy profesional y buscarás lugares que estén libres de ruido y de interrupciones.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default panel-faq">
                <div class="panel-heading">
                    <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-2">
                        <h4 class="panel-title">
                            Gana dinero cómo tú quieras
                            <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                        </h4>
                    </a>
                </div>
                <div id="faq-cat-1-sub-2" class="panel-collapse collapse dinero">
                    <div class="panel-body">
                        <ul>
                            <li>
                                <strong>
                                    ¿Cuánto dinero en promedio voy a ganar?
                                </strong>
                                <br>
                                Todo dependerá de ti, aunque mostramos en promedio cuál es el ingreso por hora (tuyo y de tus compañeros), ¡nosotros te enseñaremos cómo ganar siempre más!
                            </li>
                            <li>
                                <strong>
                                    ¿Por que ser un Socio y no un Agente?
                                </strong>
                                <br>
                                Por que no creemos en los modelos tradicionales donde las personas hacen todo el trabajo y solo ganan una pequeña parte; creemos en socios y que ellos sean los que ganen y a nosotros nos toque una pequeña comisión para seguir trayendo las mejores campañas y nos quede pa ́l cafesito.
                            </li>
                            <li>
                                <strong>
                                    ¿Cada Cuanto me pagan?
                                </strong>
                                <br>
                                las buenas noticias no paran!, por eso los pagos son semanales.
                            </li>
                            <li>
                                <strong>
                                    ¿Que necesito que para que me paguen y por que medio?
                                </strong>
                                <br>
                                Nos gustan las cosas simples por eso te transferimos a la cuenta que mas te convenga y tenemos convenios con diferentes medios de pago.
                            </li>
                        </ul>
                        Queremos darte mas por eso tenemos convenios para computadores, diademas, internet, laptop, telefonía Celular, espacios de co-working, etc...Y al que quiera mas que le piquen caña.
                    </div>
                </div>
            </div>
            <div class="panel panel-default panel-faq">
                <div class="panel-heading">
                    <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-3">
                        <h4 class="panel-title">
                            Nunca estás sólo
                            <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                        </h4>
                    </a>
                </div>
                <div id="faq-cat-1-sub-3" class="panel-collapse collapse solo">
                    <div class="panel-body">
                         <ul>
                            <li>
                                <strong>
                                    ¿Trabajo solo?
                                </strong>
                                <br>
                                No, el hecho que sea un trabajo autónomo no quiere decir que no tengas amigos o lideres que te apoyen, aquí siempre cuentas con todos nosotros.
                            </li>
                            <li>
                                <strong>
                                    ¿Que hacen los Lideres?
                                </strong>
                                <br>
                                Son los que te ayudan a que cada vez hagas mejor las cosas es decir ten enseñan a ganar mas platica.
                            </li>
                            <li>
                                <strong>
                                    ¿Puedo ser un Lider o parte del equipo de apoyo?
                                </strong>
                                <br> Claro, si ya te sientes con la experiencia y ganas de apoyar y dirigir otros likers, adelante!
                            </li>
                            <li>
                                <strong>
                                    ¿Quien mas trabaja conmigo?
                                </strong>
                                <br>
                                Aunque no los veas, también están los Coach, Validadores, Mesa de Control, Auditores y muchas personas tras de ti.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default panel-faq">
                <div class="panel-heading">
                    <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-4">
                        <h4 class="panel-title">
                            Registro
                            <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                        </h4>
                    </a>
                </div>
                <div id="faq-cat-1-sub-4" class="panel-collapse collapse registro">
                    <div class="panel-body">
                        <ul>
                            <li>
                                <strong>
                                    ¿Puedo ser menor de edad?
                                </strong>
                                <br>
                                Por ahora no tenemos campañas disponibles para menores de edad. Pero nos encantará en unos meses trabajar contigo.
                            </li>
                            <li>
                                <strong>
                                    ¿Necesito tener experiencia? 
                                </strong>
                                <br>
                                No necesitas tener experiencia solo las ganas de aprender.
                            </li>
                            <li>
                                <strong>
                                    ¿Es necesario tener Celular y Correo? 
                                </strong>
                                <br>
                                Sí, no te preocupes solo queremos validar que no seas un Robot, además estos datos serán tu contraseña y usuario mientras te conviertes en liker!.
                            </li>
                            <li>
                                <strong>
                                    ¿Que hacen con mi información personal? 
                                </strong>
                                <br>
                                Tu información personal es solo tuya, solo nos sirve para saber un poco más de ti, estas en buenas manos somos likers :).
                            </li>
                            <li>
                                <strong>
                                    ¿Necesito tener computador propio? 
                                </strong>
                                <br>
                                No es necesario, solo es mas sencillo, estamos convencidos que pronto tendrás tu maquinota!.
                            </li>
                            <li>
                                <strong>
                                    ¿Necesito tener una diadema profesional? 
                                </strong>
                                <br>
                                Por ahora No, solo necesitas tener un manos libres para poderte escuchar.
                            </li>
                            <li>
                                <strong>
                                    ¿Como se si quede Inscrito? 
                                </strong>
                                <br>
                                Te saldrá la confirmación de: “Inscripción Exitosa” y te enviaremos un correo de información.
                            </li>
                            <li>
                                <strong>
                                    ¿Puedo continuar después el proceso? 
                                </strong>
                                <br>
                                Solo tardaras 10 minutos, pero aun así podrás siempre dar click en continuar registro e ingresas con tu correo y celular.
                            </li>
                            <li>
                                <strong>
                                    ¿Tengo que hacer los 3 pasos de una vez? 
                                </strong>
                                <br>
                                No puedes hacer paso a paso según tu tiempo.
                            </li>
                            <li>
                                <strong>
                                    ¿Como se cuando empiezo? 
                                </strong>
                                <br>
                                Te enviaremos un email o puedes ingresar con tu correo y celular para ver el estado en que te encuentras.
                            </li>
                            <li>
                                <strong>
                                    ¿Que documentos necesito? 
                                 </strong>
                                <br>
                                Solo necesario una foto de tu documento de identificación puede ser por WhatsApp.
                            </li>
                            <li>
                                <strong>
                                    ¿Necesito tener cuenta bancaria? 
                                </strong>
                                <br>
                                No es necesaria en un principio, tenemos varios convenios que te pueden ayudar!
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default panel-faq">
                <div class="panel-heading">
                    <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-5">
                        <h4 class="panel-title">
                            Audio
                            <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                        </h4>
                    </a>
                </div>
                <div id="faq-cat-1-sub-5" class="panel-collapse collapse audio">
                    <div class="panel-body">
                        <ul>
                            <li>
                                <strong>
                                    ¿Si no tengo diadema o Manos libres? 
                                </strong>
                                <br>
                                No te preocupes solo ten tu celular al lado para que escuchar tu vos de artista.
                            </li>
                            <li>
                                <strong>
                                    ¿Como se si quedo bien grabado? 
                                </strong>
                                <br>
                                Puedes reproducir tu grabación en la aplicación o en la llamada al celular.
                            </li>
                            <li>
                                <strong>
                                    ¿No puedo grabar ahora puedo grabar después? 
                                </strong>
                                <br>
                                Siempre podrás grabarte después solo da Click en continuar inscripción mas tu celular y correo y ya está!.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default panel-faq">
                <div class="panel-heading">
                    <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-6">
                        <h4 class="panel-title">
                            Entrenamiento
                            <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                        </h4>
                    </a>
                </div>
                <div id="faq-cat-1-sub-6" class="panel-collapse collapse entrenamiento">
                    <div class="panel-body">
                        <ul>
                            <li>
                                <strong>
                                ¿Cuando inició el entrenamiento? 
                                </strong>
                                <br>
                                Te llamará un líder y te llegara un correo de Bienvenida!!
                            </li>
                            <li>
                                <strong>
                                ¿Aun no me han llamado? 
                                </strong>
                                <br>
                                Podrás saber siempre el estado de tu solicitud en el botón de continuar registro.
                            </li>
                            <li>
                                <strong>
                                ¿Cuanto se demora la capacitación? 
                                </strong>
                                <br>
                                Todo depende de ti!, pero los tiempos de entrenamiento de campaña en promedio en solo 3 días.
                            </li>
                            <li>
                                <strong>
                                ¿Pagan la capacitación? 
                                </strong>
                                <br>
                                Recuerda que eres socio de está tu empresa, así que solo comenzaras a recibir dinero cuando termines tu proceso de entrenamiento.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
