<section>
	<div>
		<h1>Ups, esta seccion aun no esta disponible</h1>
		<strong>¡Te invitamos a seguirnos en nuestras redes sociales para mantenerte al tanto de todo lo que pasa, y asi saber cuando se abre nuestra convocatoria!</strong>
	</div>
</section>