
<h1>FAQ</h1>

<h2>Establece tu propio horario</h2>

<p>
	1. Puedo elegir que días quiero trabajar? Sí, Escoges el

horario mas conveniente para ti y la cantidad de horas que

desees.

2. Cuantas horas son las mínimas para trabajar? Te

recomendamos que al menos 4 horas en 5 días a la

semana, pero todo dependerá de cuanto quieras ganar.

3. Desde donde puedo trabajar? Desde cualquier lugar con

un mínimo de internet estable, tu computador y una

diadema, Siempre y cuando no sea en movimiento no te

imaginamos trabajando en el bus.

4. En mi casa hay mascotas y bebes, aun así puedo

trabajar? A nosotros también nos encantan los niños y las

mascotas pero sabemos que eres profesional y buscarás

lugares libre de ruidos.
</p>

<h2>Ganadinero cómo tú quieras</h2>

<p>
	1. Cuanto dinero en promedio Gano? Todo dependerá de

ti, aunque mostramos el promedio cual es el ingreso por

hora tuyo y de tus compañeros, Nosotros te enseñamos

como ganar siempre mas!

2. Por que ser un Socio y no un Agente? Por que no

creemos en los modelos tradicionales donde las personas

hacen todo el trabajo y solo ganan una pequeña parte;

creemos en socios y que ellos sean los que ganen y a

nosotros nos toque una pequeña comisión para seguir

trayendo las mejores campañas y nos quede pa ́l cafesito.

3. Cada Cuanto me pagan? las buenas noticias no paran!,

por eso los pagos son semanales.

4. Que necesito que para que me paguen y por que

medio? Nos gustan las cosas simples por eso te transferimos

a la cuenta que mas te convenga y tenemos convenios con

diferentes medios de pago.

Queremos darte mas por eso tenemos convenios para computadores, diademas , internet, laptop,

telefonía Celular, espacios de co-working, etc...Y al que quiera mas que le piquen caña.
</p>


<h2>Nunca estás sólo</h2>

<p>
	
	1. Trabajo solo? No, el hecho que sea un trabajo autónomo

no quiere decir que no tengas amigos o lideres que te

apoyen, aquí siempre cuentas con todos nosotros.

2. Que hacen los Lideres? Son los que te ayudan a que

cada vez hagas mejor las cosas es decir ten enseñan a ganar

mas platica.

3. Puedo ser un Lider o parte del equipo de apoyo? Claro,

si ya te sientes con la experiencia y ganas de apoyar y dirigir

otros likers, adelante!

4. Quien mas trabaja conmigo? Aunque no los veas,

también están los Coach, Validadores, Mesa de Control,

Auditores y muchas personas tras de ti.
</p>

<h2>Registro</h2>

<p>
	1. Puedo ser menor de edad? Por ahora no tenemos

campañas disponibles para menores de edad. Pero nos

encantará en unos meses trabajar contigo.

2. Necesito tener experiencia? No necesitas tener

experiencia solo las ganas de aprender.

3. Es necesario tener Celular y Correo? Sí, no te preocupes

solo queremos validar que no seas un Robot, además estos

datos serán tu contraseña y usuario mientras te conviertes en

liker!.

4. Que hacen con mi información personal? Tu

información personal es solo tuya, solo nos sirve para saber

un poco más de ti, estas en buenas manos somos likers :)

5. Necesito tener computador propio? No es necesario,

solo es mas sencillo, estamos convencidos que pronto

tendrás tu maquinota!

6. Necesito tener una diadema profesional? por ahora No,

solo necesitas tener un manos libres para poderte escuchar

7. Como se si quede Inscrito? Te saldrá la confirmación de:

“Inscripción Exitosa” y te enviaremos un correo de

información

8. Puedo continuar después el proceso? Solo tardaras 10

minutos, pero aun así podrás siempre dar click en continuar

registro e ingresas con tu correo y celular

9. Tengo que hacer los 3 pasos de una vez? No puedes

hacer paso a paso según tu tiempo.

10. Como se cuando empiezo? Te enviaremos un email o

puedes ingresar con tu correo y celular para ver el estado en

que te encuentras.

11. Que documentos necesito? Solo necesario una foto de

tu documento de identificación puede ser por WhatsApp

12. Necesito tener cuenta bancaria? No es necesaria en un

principio, tenemos varios convenios que te pueden ayudar!
</p>

<h2>Audio</h2>

<p>
	
	1. Si no tengo diadema o Manos libres? No te preocupes

solo ten tu celular al lado para que escuchar tu vos de artista

2. Como se si quedo bien grabado? Puedes reproducir tu

grabación en la aplicación o en la llamada al celular

3. No puedo grabar ahora puedo grabar después?

Siempre podrás grabarte después solo da Click en continuar

inscripción mas tu celular y correo y ya está!
</p>

<h2>Entrenamiento</h2>

<p>
	1. Cuando inició el entrenamiento? Te llamará un líder y te

llegara un correo de Bienvenida!!

2. Aun no me han llamado? Podrás saber siempre el estado

de tu solicitud en el botón de continuar registro.

3. Cuanto se demora la capacitación? Todo depende de ti!,

pero los tiempos de entrenamiento de campaña en promedio

en solo 3 días.

4. Pagan la capacitación? Recuerda que eres socio de está

tu empresa, así que solo comenzaras a recibir dinero cuando

termines tu proceso de entrenamiento
</p>

