<div id="faq" class="">
	<div class="tab-pane active in fade" id="faq-cat-1">
        <div class="panel-group" id="accordion-cat-1">
            <div class="panel panel-default panel-faq">
                <div class="panel-heading">
                    <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-1">
                    	<h4 class="panel-title">
            		        Establece tu propio horario
                		    <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
            	        </h4>
                    </a>
                </div>
                <div id="faq-cat-1-sub-1" class="panel-collapse collapse horarios">
                    <div id="horarios" class="panel-body">
                       	<ul>
                       		<li>
                       			<strong>
                       			    Puedo elegir que días quiero trabajar?
                       			</strong>
                       			<br>
                       			Sí, Escoges el horario mas conveniente para ti y la cantidad de horas que desees.
                        	</li>
                            <li>
                            	<strong>
                            	    Cuantas horas son las mínimas para trabajar?
                            	</strong>
                            	<br>
                            	Te recomendamos que al menos 4 horas en 5 días a la semana, pero todo dependerá de cuanto quieras ganar.
                            </li>
                            <li>
                            	<strong>
                            	    Desde donde puedo trabajar?
                            	</strong>
                            	<br>
                            	Desde cualquier lugar con un mínimo de internet estable, tu computador y una diadema, Siempre y cuando no sea en movimiento no te imaginamos trabajando en el bus.
                            </li>
                            <li>
                            	<strong>
                            	    En mi casa hay mascotas y bebes, aun así puedo trabajar?
                            	</strong>
                            	<br>
                            	A nosotros también nos encantan los niños y las mascotas pero sabemos que eres profesional y buscarás lugares libre de ruidos.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>