hola <%= current_user.email%>
tu video es <%= current_user.video %>


<div>
	
	<% if current_user.fase == nil %>

	    testeo

	     
	    <% elsif current_user.fase == 1 %>
	   en el momentyo estamos analizando tu aplicacion, nos pondremos en contacto contigo en cuanto halla algun cambio

	    <% elsif current_user.fase == 2 %>
	    genial pasaste la primera fase, puedes iniciar la segunda fase.
	    para esta fase necesitaras un espacio calmado,una camara web, microfono y toda tu disposicion.
	    <a href="<%= edit_user_path(current_user) %>" target="blank" class="btn btn-primary btn-xl" onclick="this.blur();" >Hacer la prueba</a>
	    

	    <% elsif current_user.fase == 3 %>
	   fase 2 listo ahora podras empezar tu entrenamiento
	     <a href="#" target="blank" class="btn btn-primary btn-xl" onclick="this.blur();" >Consultar mi proceso</a>

	     <% else%>

	     lo sentimos parece haber un error
	    <a href="<%= new_user_session_path %>" target="blank" class="btn btn-primary btn-xl" onclick="this.blur();" >Consultar mi proceso</a>
    <% end %>       
</div>