


<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">



<div">
<section style="padding: 30px 25px 25px;margin:auto; margin-top: 12%; width: 50%; box-shadow:0px 0px 0px 5px rgba( 255,255,255,0.4 ),0px 4px 20px rgba( 0,0,0,0.33 );
    -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; display: table; background: rgba(255,255,255,1);
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 90%, rgba(243,243,243,1) 100%);text-align:center;">
                  <div class="row fieldformulario respuesta">

<h2 style="color:#1AA7BF; margin:0 auto; text-align:center;">Bienvenido <%= @email %>!</h2>

<p style="margin: auto; width: 70%; font-size: 18px; text-align: center;">Puedes confirmar tu cuenta a través del siguiente link </p>


<p><%= link_to 'Confirmar mi cuenta', confirmation_url(@resource, confirmation_token: @token), :style=>"color: #1AA7BF;
    text-decoration: none;" %></p>
</div>
</section>
</div>
