<p>Hola <%= @resource.email %>!</p>

<p>Hemos tenido algunas dificultades con tu informacion, por favor usa el siguiente link para actualizar tus datos y asegurarnos que todo salga bien</p>

<p><%= link_to 'Actualizar', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no sabes por que se te envio este correo por favor contactanos en <a href="">Facebook</a> para ver que paso.</p>
<p>Tus datos no cambiaran hasta que actives el link de arriba!</p>
